@use "../../../../../assets/utilities/mixins";

:host {
  background-color: #2b2a2a;
  @include mixins.flex-center;
  min-height: 100vh;

  .wrapper {
    @include mixins.auth-form;

    .login-form {
      height: 100%;
      width: 100%;

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-button {
        width: 100%;
      }
    }
  }
}
