@use "../../../../../assets/utilities/mixins";

:host {
  @include mixins.auth-form;

  .login-form {
    height: 100%;
    width: 100%;

    .login-form-margin {
      margin-bottom: 16px;
    }

    .login-form-button {
      width: 100%;
    }
  }
}
