<app-logout-button></app-logout-button>

<h1>Posts</h1>

<app-create-post-form *ngIf="createPostFormState"></app-create-post-form>

<form [ngClass]="'postsGetAndAddForm'">
  <app-posts-select (getPostsEvent)="getPosts($event)"></app-posts-select>

  <button
    nz-button
    [nzType]="'primary'"
    type="button"
    (click)="openCreatePostForm()"
    [ngClass]="'createPostButton'"
  >
    Create Post
  </button>

  <div class="searchBox">
    <input
      nz-input
      type="search"
      id="searchPost"
      name="searchPost"
      placeholder="Search for the title of a post..."
      [(ngModel)]="searchTerm"
    />

    <button nz-button [nzType]="'primary'" type="button" id="searchPostButton">
      Search Post
    </button>
  </div>
</form>

<p *ngIf="!isLoading && !posts.length" [ngClass]="'noPostsMsg'">
  There's no posts now...
</p>

<app-loader *ngIf="isLoading; else showPosts"></app-loader>

<ng-template #showPosts>
  <section [ngClass]="'posts'">
    <app-post
      *ngFor="let post of posts | filterPosts : searchTerm"
      [post]="post"
      (deletePostEvent)="deletePost($event)"
    ></app-post>
  </section>
</ng-template>
