@use "../../../../../../../assets/utilities/mixins";

:host {
  background-color: #40a9ff;
  border-radius: 7px;
  position: relative;

  &:hover {
    filter: saturate(0.9);
    transform: scale(1.02);
  }

  &:active {
    opacity: 0.9;
  }

  .deleteIcon {
    cursor: pointer;
    @include mixins.flex-center;
    font-size: 25px;
    gap: 5px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.15s ease-in-out;
    z-index: 1;

    &:hover {
      color: red;
      font-size: 26px;
    }
  }

  .post {
    cursor: pointer;
    height: 100%;
    padding: 20px;

    * {
      margin: 0;
    }

    p:nth-child(1) {
      font-weight: bold;
    }
  }
}
