@use "../../../../assets/utilities/mixins";

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

:host {
  background-color: #000000bb;
  @include mixins.flex-center;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .loader {
    animation: loading 1.5s linear infinite;
    border: 3px solid #ababab;
    border-top-color: #547dec;
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
}
