:host {
  background-color: #40424d;
  border-radius: 12px;
  left: 50%;
  max-width: 450px;
  padding: 35px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;

  .closeIcon {
    color: #ff4e4e;
    cursor: pointer;
    font-size: 23px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  h1 {
    color: #fff;
    text-align: center;
  }

  .createPostForm {
    display: flex;
    flex-direction: column;
    gap: 25px;

    .createPostForm__formItem {
      align-items: flex-start;
      background-color: #40a9ff;
      border-radius: 5px 5px 0 0;
      display: flex;
      flex-direction: column;

      *:not([nzfor], label) {
        width: 100%;
      }

      [nzfor],
      label {
        padding-left: 10px;
      }

      [nzfor="body"] {
        margin-bottom: 23px;
      }
    }
  }
}

@media (max-width: 460px) {
  :host {
    max-width: 250px;
  }
}
