<span nz-icon nzType="close" nzTheme="outline" [ngClass]="'closeIcon'" (click)="closeCreatePostForm()"></span>

<h1>Create Post</h1>

<form nz-form [ngClass]="'createPostForm'" [formGroup]="createPostForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label nzFor="title" [ngClass]="'createPostForm__label'"
      >Title:</nz-form-label
    >

    <nz-form-control>
      <input
        nz-input
        formControlName="title"
        name="title"
        id="title"
        placeholder="Insert a title..."
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzFor="body" [ngClass]="'createPostForm__label'"
      >Content:</nz-form-label
    >

    <nz-form-control>
      <textarea
        nz-input
        placeholder="What are your thoughts?"
        [nzAutosize]="{ minRows: 3, maxRows: 5 }"
        formControlName="body"
        name="body"
        id="body"
      ></textarea>
    </nz-form-control>
  </nz-form-item>

  <button nz-button nzType="primary" [disabled]="!createPostForm.valid">
    Create Post
  </button>
</form>
